<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LLP Reset Password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Reset password</h1>
    <form id="reset-password-form" method="post">
        {% csrf_token %}
        <span>Username: </span><input name="username" placeholder="Username">
        <br>
        <span>Password: </span><input type="password" name="password" placeholder="Password">
        <br>
        <span>New password: </span><input type="password" name="new_password" placeholder="New password">
        <br>
        <span>Confirm new password: </span><input type="password" name="confirm_password" placeholder="Confirm new password">
        <br>
        <br>
        <button type="submit">Reset</button>
    </form>
    <div id="message"></div>

    <script>
        $(document).ready(function() {
            $('#reset-password-form').on('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting the traditional way
                
                $.ajax({
                    url: "{% url 'reset_password' %}", // URL of the view that handles the form submission
                    type: "POST", // HTTP method to use for the request
                    data: $(this).serialize(), // Serialize the form data
                    success: function(response) {
                        $('#message').html('<p>' + response.message + '</p>');
                        if (response.success) {
                            $('#reset-password-form')[0].reset(); // Clear the form if successful
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        $('#message').html('<p>An error occurred: ' + errmsg + '</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>